<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Form Movies</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Register Movie</h1>

        <form method="post" action="/movies" >
            <label for="name">Name</label>
            <input id="name" name="name"/>
            <br/>

            <label for="duration">Duration</label>
            <input id="duration" name="duration"/>
            <br/>

            <label for="year">Year</label>
            <input id="year" name="year"/>
            <br/>

            <label for="category">Category</label>
            <input id="category" name="category"/>
            <br/>

            <input type="submit" value="register"/>
    </form>
    </div>
</body>
</html>