<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Movies List</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Movies List</h1>

        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>DURATION</th>
                    <th>RELEASE YEAR</th>
                    <th>CATEGORY</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${list}" >
                    <td th:text="${movie.name}" ></td>
                    <td th:text="${movie.duration}" ></td>
                    <td th:text="${movie.releaseYear}" ></td>
                    <td th:text="${movie.category}" ></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>