<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies List</title>
</head>
<body>
    <h1>Movies List</h1>

    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>DURATION</th>
                <th>RELEASE YEAR</th>
                <th>CATEGORY</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${list}" >
                <td th:text="${movie.name}" ></td>
                <td th:text="${movie.duration}" ></td>
                <td th:text="${movie.releaseYear}" ></td>
                <td th:text="${movie.category}" ></td>
            </tr>
        </tbody>
    </table>
</body>
</html>